.navbar {
    background-color: #ffe4e1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar .navbar-brand {
    font-family: 'dancing script', cursive;
    font-weight: bold;
    color: #2c3e4c;
}
.navbar .navbar-nav .nav-link {
    color: #343A40;
    font-weight: 400;
    font-size: 1.1rem;
    padding: 10px;
    transition: color 0.3s ease;
}

.navbar .navbar-nav .nav-link:hover {
    color: #FF1493;
}

body {
    background-color: #F28BB4;
    font-family: 'Poppins', sans-serif;
    color: #333;
}

h2 {
    font-family: 'Dancing Script', cursive;
    color: #F28BB4;
}

.contact-box {
    background: #ffffff;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.contact-box h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #F28BB4;
    margin-bottom: 20px;
}

.contact-box p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #555;
    text-align: center;
}

.contact-box a {
    font-size: 1.5rem;
    color: #F28BB4;
    transition: color 0.3s ease;
}

.contact-box a:hover {
    color: #F17A94;/
}

.contact-box .d-flex {
    margin-bottom: 20px;
}

.contact-box .fa {
    transition: transform 0.3s ease, color 0.3s ease;
}

.contact-box .fa:hover {
    transform: scale(1.2);
    color: #F17A94;
}

.contact-box .fa-facebook,
.contact-box .fa-instagram {
    font-size: 2rem;
    margin: 0 10px;
}

.contact-box .fa-facebook {
    color: #3b5998;
}

.contact-box .fa-facebook:hover {
    color: #1877F2;
}

.contact-box .fa-instagram {
    color: #C13584;
}

.contact-box .fa-instagram:hover {
    color: #E1306C;
}

.contact-box .contact-box a {
    font-size: 2rem;
    margin: 0 10px;
    color: #1DA1F2;
}

.contact-box .fa-x:hover {
    color: #1991D0;
}

footer {
    background-color: #FF69B4;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer p {
    font-size: 1rem;
    margin: 0;
    font-family: 'dancing script', sans-serif;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #FF1493;
}

@media (max-width: 767px) {
    h2 {
        font-size: 2rem;
    }

    .contact-box p {
        font-size: 1rem;
    }

    .btn-pink {
        font-size: 1rem;
        padding: 8px 16px;
    }

    .contact-box .fa {
        font-size: 1.8rem;
    }

    .contact-box .fa-facebook,
    .contact-box .fa-instagram {
        font-size: 1.8rem;
        margin: 0 5px;
    }
}